select{
    display: none !Important;
  }

  .collapsible{
    margin: 9px;
  }

  .collapsible-body {
    padding: 0px;
  }

  #toast-container {
    top: auto !important;
    right: 5% !important;
    bottom: 10%;
    left:auto;  
  }
